

{% load i18n staticfiles %}
<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"> 
			<title>{% block title %}Mon super site{% endblock %}</title> 
	        <link rel="stylesheet" href="{% static 'registration/base.css' %}">

		</head>
		<body> 
			<div class="basehead" >
							<ul>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li>
									<ul class="right_button">
										<li class ="blue_button"> <a class="left" href="/account/login/"> Connexion </a></li>
										<li class="blue_button"> <a class="right" href="/account/register/"> Inscription </a></li>
									</ul>
								</li>
							</ul>
			</div>
			
			<div class="basesubhead" >
				<h1>NO more ticket !!!</h1>
			</div>
			 <div class="basemiddle">
			 				ee			essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd

			<div class=" content basecontent_left arrow_box" > 
				eee
				essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd
				ee			essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd
				ee			essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd
				ee			essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd
				ee			essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd
				ee			essdddddd	essddddddessddddddessddddddessddddddessddddddessdddddd	essdddddd	essdddddd	essdddddd	essdddddd	essdddddd
				ee
			</div> 
						
			<div class="content basecontent_right" > 
				{% block content %} 
				
				{% endblock %} 
			</div> 
			</div>
			<div class="basefoot" > 
							<ul>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
								<li><img id="baselogo" src="{% static 'logo.jpg'%}"/></li>
								<li> li2</li>
							</ul>			</div>
			</div>
			
		</body> 
	</html>






